.bg {
    background: url(../images/chat-background.png);
}

.clickSpace {
    width: 100%;
    heigth: 50%;
}

.me1 {
    img {
        width: 45%;
        float: right;
    }
    padding-bottom: 45px;
}

.you {
    float:left;
    img {
        width: 90%;
    }
}

.me2{
    float: right;
    img {
        width: 40%;
        float: right;
    }
}
